body {
padding: 0;
margin: 0; 
}
header{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 85px;
    background-color: #df1883;
    z-index: 99999;
}
header .logo{
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin-left: 40px;
    color: #ffffff;
}
header .search{
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 50px;
    align-items: center;
    display: flex;
    flex: 1;
    margin-right: 60px;
    margin-left: 60px;
    max-width: 400px;
    padding: 0.75rem 1rem;
}
.search .search-bar{
    display: flex;
    flex: 1;
    border: none;
    background: none;
    outline: none;
    margin-right: 5px;
    font-size: 1rem;
}
.search .search-icon{
    cursor: pointer;
}
header .navigations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    padding: 0.75rem;
    margin-left: 80px;
    margin-right: 40px;
}
.cart-icon{
    height: 25px;
    cursor: pointer;   
}
.profile-icon{
    height: 25px;
    margin-left: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}
.profile-icon:hover{
    background-color: rgb(241, 241, 241);
}
@media (max-width: 720px) {
    header .navigations {
        margin-left: 0px;
    }
    header .search{
        margin-left: 0px;
        margin-right: 0px;
    }
    header .navigations{
        margin-right: 0;
    }
    header .logo{
        margin-left: 0;
    }
}
@media(min-width: 450px){
    .search{
        margin-left: 0px;
        margin-right: 0px;
    }
}

.side-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 380px;
    height: 100vh;
    left: 0;
    top: 85px;
    z-index: 1000;
}
.menu-categories{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 10;
    top: 0px;
    right: 0px;
    list-style-type: none;
    padding: 0rem 0.75rem 0.75rem 0.75rem;
    justify-content: center;
    align-items: center;
    width: 310px;
}
.menu-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2.55rem;
    font-size: 0.9rem;
    width: 250px;
    cursor: pointer;
    font-weight: bold;
    width: 250px;
}
.menu-category-count{
    padding: 4px 6px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
}
.heading img{
    height: 30px;
    width: 18px;
    margin-right: 15px;
}
.heading{
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(221, 221, 221);
    padding: 1rem;
    background-color: rgb(243, 243, 243);
    width: 300px;
}
.active{
    background-color: rgb(215, 215, 215);
}
main{
    display: flex;
    height: auto;
    margin-left: 380px;
    margin-top: 85px;
}

 main .contents{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 20px 20px 20px 20px;
 }
.category-header{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 1rem;
    font-size: 1.75rem;
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.35),
                inset 0 -5px 5px -5px rgba(0, 0, 0, 0.35);
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .category-elements{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
 }
 .category-element{
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px 10px;
    padding: 1rem;
    box-shadow: 0 0 15px #df188223;
    border-radius: 15px;
    width: 420px ;
 }
 .donut-image{
    height: 250px;
    margin-bottom: 20px;
    border-radius: 15px;
 }
 .product-name-price{
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    margin-bottom: 20px;
 }
 .add-btn{
    padding: 0.75rem;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #df1883;
 }
 .add-btn:hover{
    opacity: 0.8;
 }
